* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-size: 2rem;
    background-color: #ffffff;
}

/* .navbar{
    background-color: #2ECC71;
}

.login-link{
    color: #ffffff;
} */

/* CSS */
.button-28 {
  appearance: none;
  background-color: #2ECC71;
  border: 4px solid #2ECC71;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins';
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 1000ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: black;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-29 {
  appearance: none;
  background-color: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins';
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 1000ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60%;
  will-change: transform;
}

.button-29:disabled {
  pointer-events: none;
}

.button-29:hover {
  color: black;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: none;
  transform: translateY(0);
}

.account:hover {
    text-decoration: underline;
}